@mixin f-style ($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

.sidebar-wrapper{
    height: 100%;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-logo{
    width: 100%;
    max-width: 200px;
    height: 80px;
    border: none;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        border: none;
    }
}

.sidebar-menu{
    display: flex;
    flex-direction: column;
    row-gap: 1.4rem;
    margin-top: 2.4rem;
    a{
        letter-spacing: 1px;
        @include f-style(18px, 500, #0C1F46);
        transition: all 0.3s ease-in-out;
        &:hover{
            color: #28B0A4;
    }   
    }
}

.sidebar__social-media{
    padding-top: 14.5rem;
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
        .media-title{
            @include f-style(18px, 600, #0C1F46);
            letter-spacing: 1px;
        }
    .media-links{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1.6rem;
        margin-top: 10px;

        .social-link{
            @include f-style(28px, 500, #28B0A4);
            transition: all 0.3s ease-in-out;
            &:hover{
                color: #28B0A4;
            }
        }
    }
}